[Unit]
Description=red camera project for isotecnic
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always 
RestartSec=1
User=root
ExecStartPre=pppd local nodetach nocrtscts nolock noauth 169.254.1.2: /dev/ttyAMA0 115200 
ExecStart=python ~/red_camera/scripts/test_final.py

[Install]
WantedBy=multi-user.target